
.fixed-action-btn.top-left {
  left: 23px;
  top: 23px; }
  .fixed-action-btn.top-left ul {
    top: 64px; }
    .fixed-action-btn.top-left ul li {
      margin-top: 15px; }


.fixed-action-btn.bottom-left {
  left: 23px;
  bottom: 23px; 
  max-width: 50px; }


.fixed-action-btn.top-right {
  top: 23px; }
  .fixed-action-btn.top-right ul {
    top: 64px; }
    .fixed-action-btn.top-right ul li {
      margin-top: 15px; }

