.uicore-linebar {
    max-width: 40px;
    width: 40px;
    position: relative;
    display: block;
    padding-right: 10px;
    opacity: 0.3;
}

.uicore-linebar:hover {
    opacity: 1.0;
}

.uicore-linebar > .uicore-insertarrow {
    position: absolute;
}

.uicore-linebar > button {
    padding-left: 10px;
    display: block;
    max-width: 25px;
    width: 25px;
}


.uicore-linebar > button:hover {
    max-width: none !important;
    width: auto !important;
}

.uicore-linebar > div.search-box {
    width: 200px;
    padding-top: 5px;
    padding-right: 5px;
}






/*
.uicore-linebar > button > span.uic-btext {
    display: block;
    overflow: hidden;
    max-width: 25px;
    width: 25px;
}

.uicore-linebar > button:hover > span.uic-btext {
    display: inline;
}
*/
/*
.uicore-linebar button {
    display: block;
    padding-left: 10px;
    overflow: hidden;
    max-width: 30px;
}
*/

/*
overflow: hidden !important;
max-width: 25px !important;
width: 25px !important;
*/

