.uicore-panel {
    background-color: #fafafa;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-right: -30px;
    margin-left: -30px;*/
    padding: 5px;
    padding-top: 0px;
    min-height: 95vh;
    display: block;
    /*position: fixed;*/
}


