{# <div class="uicore-panel z-depth-1 decor-panel-default teal lighten-2 white-text"> #}

<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header active">General</div>
        <div class="collapsible-body white">
            <p>Lorem ipsum dolor sit amet.</p>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Formats</div>
        <div class="collapsible-body white"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
        <div class="collapsible-header">Settings</div>
        <div class="collapsible-body white">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
</ul>

