/* #########################################
 * license: AGPL3.0
 * author: Michael Bethencourt
 *
 * Style for sembook elements when displayed in the editor.
 *    Here we have most elements.
 *
 * #########################################
 */


/* ************************************************
   new section thing
 * ************************************************/



/* Add section numbering */
.base_section {
    counter-increment: section;
    text-align: center;
    font-size: 24pt;
}

.base_section {
    min-height: 69px;
    margin-bottom: 30px;
    padding: 20px;
    display: block;
}


.base_section:before {
    content: "Section " counter(section);
    text-align: center;
    font-size: 18pt;
    font-variant: small-caps;
    display: block;
}

/* ************************************************
   SBE
 * ************************************************/



bk {
    font-weight: normal;
    /* Specify break-word for everything. This is to prevent stuff like
    ** huge words in a paragraph exceeding the page size. 
    Note: does this have any negative effects? */
    word-wrap: break-word;
}

#le2d div {
    background: white;
}

/* ************************************************
   Para
 * ************************************************/

#le2d .base_para:hover {
    background-color: #eaeaea;
}


.base_para {
    margin: 0;
    border: 0;
    outline: 0;
    text-align: justify;
    margin-bottom: 5px;
    /*text-indent: 1em;*/
    font-size: 1em;
    margin-bottom: 1em;
}

.base_dialogue:hover {
    background-color: #ffc;
}

.base_mistake {
    text-decoration: line-through;
}


/* ********************************************** */
/* ****************** PARA FORMATTING *********** */
/* ********************************************** */


.base_emphasis , .base_emphasis .base_tr {
    font-style: italic;
}

.base_strong , .base_strong .base_tr {
    font-weight: bold;
}

.base_distinguish, .base_distinguish.base_tr {
    text-decoration: underline;
}

.base_internal_monologue , .base_internal_monologue .base_tr {
    font-style: italic;
}

/* ********************************************** */
/* ****************** A FEW OTHER FORMATTINGS *** */
/* ********************************************** */

.base_verse, .base_list {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    margin-bottom: 15px;
}

 .base_line {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-top: 3px;
}

 .base_line {
    min-height: 10px;
}

 .base_line:hover {
    background-color: #fee;
}

 .base_verse:hover {
    background-color: #eee;
}

.base_dedication {
    text-align: center;
}

.base_dedication {
    margin-top: 150px;
    margin-bottom: 150px;
}

/* ********************************************** */
/* ******** (HACK)    PSEUDO TAG FORMATTING ***** */
/* ********************************************** */

.base_pseudotag.base_ook {
    min-height: 30px;
    display: block;
    padding-bottom: 30px;
    margin-bottom: 30px;
}



/* CSS2.1 wizardry 

    YES, I AM A WIZARD. thank you for asking.
*/

/* NOTE: most of these do not work with IE7 */

/* ********************************************** */
/* ****************** NESTED QUOTES ************* */
/* ********************************************** */
/* Add in quotes */
 .base_dialogue:before {
    content: "\201C";
}
 .base_dialogue:after {
    content: "\201D";
}


/* To make it alternate with nested quotes (a la en), we just make it
** compatible up to 10 levels. Beyond that it will fall back on above before &
** after and just do double for all of 'em */

/* Layer 1 */
 .base_para > .base_dialogue 
    > .base_dialogue:before { content: "\2018"; }
 .base_para > .base_dialogue 
    > .base_dialogue:after { content: "\2019"; }

/* Layer 3 */
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue:before { content: "\2018"; }
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue:after { content: "\2019"; }

/* Layer 5 */
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:before { content: "\2018"; }
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:after { content: "\2019"; }

/* Layer 7 */
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:before { content: "\2018"; }
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:after { content: "\2019"; }

/* Layer 9 */
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:before { content: "\2018"; }
 .base_para > .base_dialogue 
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue > .base_dialogue
    > .base_dialogue:after { content: "\2019"; }

/* Add story numbering */
 {
    counter-reset: endnote chapter footnote story glossary appendix volume part;
}

 .base_story {
    counter-increment: story;
    counter-reset: endnote chapter footnote;
}

 .base_story:before {
    content: "- " counter(story) " -";
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    text-shadow: 0px 0px 5px #aaa;
    display: block;
}

/* Add Chapter numbering */
 .base_chapter {
    counter-increment: chapter;
    counter-reset: section;
    text-align: center;
    font-size: 24pt;
}

.base_chapter:before {
    content: "Chapter " counter(chapter);
    text-align: center;
    font-size: 18pt;
    font-variant: small-caps;
    display: block;
}

/* Add endnotes & numbering */

 .base_endnote:before {
    content: '[' counter(endnote) ']';
    font-size: 0.9em;
    font-family: sans-serif;
}
 .base_endnote {
    counter-increment: endnote;
    display: inline-block;
    overflow: hidden;
    width: 2.3em;
    height: 1em;
    background-color: #ffaaff;
    color: #aaaaaa;
    vertical-align: baseline;
}

/* Add footnotes & numbering */
,  .base_chapter {
    counter-reset: footnote;
}

 .base_footnote:before {
    content: counter(footnote);
    text-decoration: underline;
    vertical-align: super;
    font-size: 0.7em;
    font-family: sans-serif;
    background-color: white;
    display: inline-block;
    width: 1em;
}

 .base_footnote {
    counter-increment: footnote;
    display: inline-block;
    overflow: hidden;
    width: 2.3em;
    height: 1em;
    background-color: #ffffaa;
    color: #aaaaaa;
    vertical-align: baseline;
}

 .base_endnote:hover ,  .base_footnote:hover {
    width: auto;
    height: auto;
    color: #000;
}

/* ************************************************
   SECTION oy oy oy
 * ************************************************/

.base_section-break, .base_section_break {
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
    border-top: 6px #aaa groove;
}


/* ************************************************
   STORY
 * ************************************************/

 .base_story {
    text-align: center;
    font-size: 26pt;
    font-variant: small-caps;
    margin-bottom: 30px;
    padding: 20px;
}


/* ************************************************
   CHAPTER
 * ************************************************/

 .base_chapter,
 .base_story {
    min-height: 69px;
    margin-bottom: 30px;
    padding: 20px;
    display: block;
}

/* ************************************************
   PROLOGUE, FOREWORD, AND EPILOGUE MAGIC
 * ************************************************/
/* untitled */
.base_foreword, .base_epilogue, .base_acknowledgments,
.base_authorsnote, .base_prologue, .base_foreword, .base_authorsnote,
.base_acknowledgment, .base_preface, .base_introduction, .base_bodymatter,
.base_frontmatter, .base_epilogue, .base_afterword, .base_conclusion,
.base_postscript, .base_backmatter, 
/* titled */
.base_appendix, .base_glossary, 
.base_volume, .base_part {
    text-align: center;
    font-size: 22pt;
    font-variant: small-caps;
    display: block;
    margin-bottom: 0px;
    padding: 20px;
    min-height: 69px;
}

/* titled */
.base_appendix:before, .base_glossary:before, 
.base_volume:before, .base_part:before {
    text-align: center;
    font-size: 22pt;
    display: block;
}

.base_appendix, .base_glossary, 
.base_volume, .base_part {
    font-size: 18pt;
    margin-bottom: 10px;
}

/* English */
.base_prologue:before { content: "Prologue"; }
.base_foreword:before { content: "Foreword"; }
.base_authorsnote:before { content: "Author's Note"; }
.base_acknowledgment:before { content: "Acknowledgment"; }

.base_preface:before { content: "Preface"; }
.base_introduction:before { content: "Introduction"; }
.base_bodymatter:before {  }
.base_frontmatter:before {  }

.base_epilogue:before { content: "Epilogue"; }
.base_afterword:before { content: "Afterword"; }
.base_conclusion:before { content: "Conclusion"; }
.base_postscript:before { content: "Postscript"; }

.base_appendix:before { content: "Appendix " counter(appendix,upper-apha); }

.base_glossary:before { content: "Glossary"; }
.base_backmatter:before {  }

/* Volume and Part counters */
.base_volume:before { content: "Volume " counter(appendix,upper-roman); }
.base_part:before { content: "Part " counter(part, upper-roman); }

.base_volume {
    counter-increment: volume;
    counter-reset: part;
    counter-reset: story;
    counter-reset: chapter;
    counter-reset: book;
}

.base_part {
    counter-increment: part;
    counter-reset: story;
    counter-reset: chapter;
    counter-reset: book;
}


.base_appendix {
    counter-increment: appendix;
}

.base_glossary {
    counter-reset: definition;
}

