html {
    overflow-y: scroll;
}

body {
    height: 100%;
}


bk {
    -webkit-user-select: text;
    user-select: text;
    cursor: text;
}


/*
.container {
    background-color: #fff;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.8);
    margin-top: -20px;
    padding-top: 30px;
    min-height: 104vh;
}
*/

/* Ugly / temporary default setting, to be overridden by various decors */
.editor-decor-default {
    background-color: #fafafa;
    margin: 20px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    min-height: 50vh;
}



#le2d {
}

#le2d bk,
#le2d textarea {
    display: block;
}
/* margin: 2px; */

#le2d dummy {
    display: block;
    background: rgba(127, 127, 127, 0.5);
}


#le2d textarea,
#le2d input {
    /*border: 1px gray solid;*/
    /*display: inline;*/
    /*font-family: serif;*/
    /* For Webkit, disable resize, since it is handled automatically... */
    resize: none;
    /*
    -moz-box-shadow:    0px 0px 2px 1px #999;
    -webkit-box-shadow: 0px 0px 2px 1px #999;
    box-shadow:         0px 0px 2px 1px #999;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px; 
    */
    /*box-shadow: -1px 0px 10px 0px #000, 1px 0px 10px 0px #000;*/
    box-shadow:         0px 0px 2px 1px #999;
    /*box-shadow-top: none;*/
    border-radius: 1px; 
    border: none;
    max-width: 100%;
    font-size: 12pt;
    background-color: #eee;
    text-align: left;
}

#le2d textarea.base_para:hover {
    background-color: #fff;
}

