
{% if singular %}
    <div class="bubblebeam-wrapper" data-bubblebeam="{{ name }}">
        <div class="fixed-action-btn">
            <a class="btn-floating {% cycle red yellow green blue orange purple cyan %} {% cycle darken-1 darken-2 %}"
                    data-tooltip="{{ button_info.tooltip }}"
                    data-bubblebeamclick="{{ button_info.name }}">
                <i class="large {{ button_info.icon_class }}"></i>
            </a>
        </div>
    </div>
{% else %}
    <div class="bubblebeam-wrapper" data-bubblebeam="{{ name }}">
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="large mdi-action-receipt"></i>
            </a>
            <ul>
                {% for button_info in buttons %}
                    <li><a class="btn-floating {% cycle red yellow green blue orange purple cyan %} {% cycle darken-1 darken-2 %}"
                            data-tooltip="{{ button_info.tooltip }}"
                            data-bubblebeamclick="{{ button_info.name }}">
                        <i class="large {{ button_info.icon_class }}"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
