{% make_guid %}

<div class="uicore-linebar red lighten-2 z-depth-3">
    {% for button in buttons %}
        <button class="btn waves-effect waves-white btn-flat"
            data-editor-mode="keep"
            {% if button.args %}
                data-args="{{ button.args|escapejs }}"
            {% endif %}
            >{{ button.label }}</button>
    {% endfor %}

    {% comment %}
        {% if search %}
            <button class="btn waves-effect waves-white btn-flat"
                data-editor-mode="keep"
                ><i class="mdi-content-add-box"></i></button>

            <div class="search-box red lighten-2 z-depth-3">
                <div class="input-field white-text">
                    <i class="mdi-action-search prefix"
                        data-editor-mode="keep"></i>
                    <input id="search_field_{{ guid }}" type="text" class="" 
                            data-editor-mode="keep" />
                    <label for="search_field_{{ guid }}">Search</label>
                </div>
                <div class="search-results">
                    {% for search in search_data %}
                        <div class="result-item" data-args="{{ search.data }}" data-searchstr="{{ search.searchstr }}">
                            {{ search.label }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endcomment %}
</div>

