<div class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>{{ title }}</h4>
        {{ content|safe }}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
    </div>
</div>
