
<ul id="slide-out" class="side-nav">
    <li><a data-closebutton="true">&larr; Close</a></li>
    {% if buttons %}
        {# For simple flat button functionality #}
        {% for button in buttons %}
            <li><a data-button="{{ button.name }}"
                {% if button.attr %}{{ button.attr|safe }}{% endif %}>{{ button.text }}</a></li>
        {% endfor %}
    {% endif %}

    {% if content %}
        {# For arbitrary content #}
        <li class="no-padding">
            {{ content|safe }}
        </li>
    {% endif %}

    {% if tree %}
        {# For tree style hierarchy #}
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                {% for subtree0 in tree %}
                    <li>
                        <a class="collapsible-header">{{ subtree0.label }} <i class="mdi-navigation-arrow-drop-down"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                {% for leaf in subtree0.children %}
                                    {% if leaf.children %}
                                        {# for now, we copy & paste recursion up to 1 level #}
                                        <li class="no-padding">
                                            <ul class="collapsible collapsible-accordion">
                                                {% for subtree1 in leaf %}
                                                    <li>
                                                        <a class="collapsible-header">{{ subtree1.label }} <i class="mdi-navigation-arrow-drop-down"></i></a>
                                                        <div class="collapsible-body">
                                                            <ul>
                                                                {% for leaf1 in subtree1.children %}
                                                                    {% if leaf1.content %}
                                                                        <li>{{ leaf.content|safe }}</li>
                                                                    {% else %}
                                                                        <li><a data-button="{{ leaf1.name }}"
                                                                            {% if leaf1.attr %}{{ leaf1.attr|safe }}{% endif %}>{{ leaf1.text }}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elif leaf.content %}
                                        <li>{{ leaf.content|safe }}</li>
                                    {% else %}
                                        <li><a data-button="{{ leaf.name }}"
                                            {% if leaf.attr %}{{ leaf.attr|safe }}{% endif %}>{{ leaf.text }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if bottom_content %}
        {# For arbitrary content #}
        <li class="no-padding">
            {{ bottom_content|safe }}
        </li>
    {% endif %}
</ul>

