<div class="uicore-panel z-depth-1 decor-panel-default teal lighten-2 white-text">
    <div class="row">
        <div class="col s9"><h5>{{ title }}</h5></div>
        <div class="col s3"><button class="btn btn-flat uic-close-panel"><i class="mdi-hardware-keyboard-arrow-down"></i></button></div>
    </div>

    <div class="uicore-panel-content black-text">
        {{ content|safe }}
    </div>
    <div class="row">
        {{ bottom_content|safe }}
    </div>
</div>

