<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header active">Core Info</div>
        <div class="collapsible-body white">
            <p>Block level Y/N</p>
            <p>markup</p>
            <p>shortcut key</p>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Containment</div>
        <div class="collapsible-body white">
            <p>Contains</p>
            <p>Contained by</p>
        </div>
    </li>

    <li>
        <div class="collapsible-header">Editor styles</div>
        <div class="collapsible-body white">
            <p>Custom HTML Y/N</p>
            <p>Style</p>
        </div>
    </li>

    <li>
        <div class="collapsible-header">Export styles</div>
        <div class="collapsible-body white">
            <p>Export target name</p>
            <p>Custom HTML Y/N</p>
            <p>Style</p>
        </div>
    </li>

</ul>

