body * {
    -webkit-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;

    cursor: default;
}


div#masthead {
    padding-top: 10%;
    text-align: center;
}

img#logo {
    margin-left: -5px;
}

.container #logo {
}

h4, h5, h6 {
    text-transform: uppercase;
}

.category.row h6 {
    margin-top: 20px;
}

.category.row {
    padding: 2px;
}

div.rightalign,
div.rightalign p,
div.rightalign h4 {
}

.collection-item.avatar {
    height: 60px !important;
}

