
<div id="master_wrapper" class="row">
    <div id="left_panel"></div>
    <div id="center_panel" class="col s12">
        <div id="main_content" class="z-depth-2 editor-decor-default">
            <div id="{{ editor_id }}"></div>
        </div>
    </div>
    <div id="right_panel"></div>
</div>

