<div style="position: fixed; right: 10px; top: 10px; opacity: 0.5;">
    <div class="quicksaveicon-saving">
        <i class="mdi-content-save"></i> Saving
    </div>
    <div class="quicksaveicon-saved">
        <i class="mdi-navigation-check"></i><i class="mdi-content-save"></i> Saved!
    </div>
</div>
