<!-- top left is "global" menu
    * Global settings
    * Open / main menu
-->

<!-- bottom left is "file" menu
    * file settings
    * tag inclusion
    * Plugin management, etc
-->

<!-- bottom right is "export" menu
    GIT
        * Push to source
        * Pull from source
    PUBLISH
        * Publish to files
-->


<!--<div class="container">-->
<div class="">
    <div id="masthead">
        <img src="img/logo_2.png" width="350px" id="logo" />
    </div>

    <div class="row">
        <div class="col s8">
            <h4>NEW</h4>
            {% for category in templates_by_category %}
                {% if not category.is_empty %}
                    <!--<div class="row category z-depth-1 {% cycle red green blue %} darken-3 white-text">-->
                    <div class="row category z-depth-1 {{ category.color }} darken-3 white-text">
                        <div class="col s2">
                            <h6>{{ category.name }}</h6>
                        </div>
                        <div class="col s10">
                            {% for template in category.list %}
                                <button class="btn-large tooltipped waves-effect waves-light {{ category.color }} accent-1 black-text"
                                    data-tooltip="{{ template.info.description }}"
                                    data-action="opentemplate"
                                    data-args="{{ template.basename }}"
                                    >
                                    {{ template.info.name }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col s4 rightalign">
            <h4>Recent</h4>

            <ul class="collection">
                {% for file in recent %}
                    <li class="collection-item avatar">
                        <img src="images/yuna.jpg" alt="" class="circle">
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                            {{ file }}
                        </p>
                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                    </li>
                {% empty %}
                    <p><blockquote>No recent files.</blockquote></p>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<!--
<div id="modal3" class="modal bottom-sheet">
<div class="modal-content">
<h4>Modal Header</h4>
<ul class="collection">
<li class="collection-item avatar">
<img src="images/yuna.jpg" alt="" class="circle">
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
<li class="collection-item avatar">
<i class="mdi-file-folder circle"></i>
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
<li class="collection-item avatar">
<i class="mdi-action-assessment circle green"></i>
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
<li class="collection-item avatar">
<i class="mdi-av-play-arrow circle red"></i>
<span class="title">Title</span>
<p>First Line <br>
Second Line
</p>
<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
</li>
</ul>
</div>
</div>
</div>
-->
